# Dependências do Node.js (não enviar para o GitHub)
node_modules/

# Firebase secrets - NÃO subir credenciais
scripts/firebase-service-account.json

# Mac OS (caso use Mac)
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# VSCode
.vscode/

# Env files - variáveis de ambiente
.env*
.env

# Outros arquivos temporários
*.swp
*.swo