@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 225 100% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 231 55% 41%;
    --primary-foreground: 225 70% 98%;
    --secondary: 225 50% 90%;
    --secondary-foreground: 231 55% 41%;
    --muted: 225 50% 94%;
    --muted-foreground: 240 5% 65%;
    --accent: 332 86% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 71% 45%;
    --success-foreground: 210 40% 98%;
    --border: 231 20% 85%;
    --input: 0 0% 100%;
    --ring: 231 55% 41%;
    --chart-1: 231 55% 41%;
    --chart-2: 332 86% 59%;
    --chart-3: 200 80% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 231 30% 15%;
    --foreground: 225 20% 96%;
    --card: 231 30% 20%;
    --card-foreground: 225 20% 96%;
    --popover: 231 30% 15%;
    --popover-foreground: 225 20% 96%;
    --primary: 225 50% 80%;
    --primary-foreground: 231 55% 20%;
    --secondary: 231 30% 25%;
    --secondary-foreground: 225 50% 80%;
    --muted: 231 30% 25%;
    --muted-foreground: 225 20% 65%;
    --accent: 332 86% 69%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 71% 35%;
    --success-foreground: 210 40% 98%;
    --border: 231 30% 25%;
    --input: 231 30% 25%;
    --ring: 225 50% 80%;
    --chart-1: 231 55% 70%;
    --chart-2: 332 86% 69%;
    --chart-3: 200 80% 70%;
    --chart-4: 43 74% 76%;
    --chart-5: 27 87% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
