@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 231 88% 59%;
    --card: 231 30% 15%;
    --card-foreground: 225 20% 96%;
    --popover: 231 30% 15%;
    --popover-foreground: 225 20% 96%;
    --primary: 332 93% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 30% 25%;
    --secondary-foreground: 231 88% 70%;
    --muted: 231 30% 25%;
    --muted-foreground: 225 20% 65%;
    --accent: 231 88% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 71% 45%;
    --success-foreground: 210 40% 98%;
    --border: 231 30% 25%;
    --input: 231 30% 25%;
    --ring: 332 93% 61%;
    --chart-1: 332 93% 61%;
    --chart-2: 231 88% 59%;
    --chart-3: 200 80% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 231 30% 10%;
    --foreground: 225 20% 96%;
    --card: 231 30% 15%;
    --card-foreground: 225 20% 96%;
    --popover: 231 30% 15%;
    --popover-foreground: 225 20% 96%;
    --primary: 332 93% 71%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 30% 25%;
    --secondary-foreground: 332 93% 71%;
    --muted: 231 30% 25%;
    --muted-foreground: 225 20% 65%;
    --accent: 231 88% 70%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 71% 35%;
    --success-foreground: 210 40% 98%;
    --border: 231 30% 25%;
    --input: 231 30% 25%;
    --ring: 332 93% 71%;
    --chart-1: 332 93% 61%;
    --chart-2: 231 88% 60%;
    --chart-3: 200 80% 70%;
    --chart-4: 43 74% 76%;
    --chart-5: 27 87% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
